Frontend/Connected Services/ServiceReference2/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50557/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="active" type="xs:int" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="gender" type="ser:char" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="special" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductClass" nillable="true" type="tns:ProductClass" />
  <xs:complexType name="ArrayOfgetCartItemsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getCartItemsResult" nillable="true" type="tns:getCartItemsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetCartItemsResult" nillable="true" type="tns:ArrayOfgetCartItemsResult" />
  <xs:complexType name="getCartItemsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCartItemsResult" nillable="true" type="tns:getCartItemsResult" />
  <xs:complexType name="ArrayOfHairstyle1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hairstyle1" nillable="true" type="tns:Hairstyle1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHairstyle1" nillable="true" type="tns:ArrayOfHairstyle1" />
  <xs:complexType name="Hairstyle1">
    <xs:sequence>
      <xs:element minOccurs="0" name="HairstyleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HairstylePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StylistID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hairstyle1" nillable="true" type="tns:Hairstyle1" />
  <xs:complexType name="ArrayOfProductClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductClass" nillable="true" type="tns:ProductClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductClass" nillable="true" type="tns:ArrayOfProductClass" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="ser:char" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Gender" type="ser:char" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCarts" nillable="true" type="tns:ArrayOfShoppingCart" />
      <xs:element minOccurs="0" name="Special" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCart" nillable="true" type="tns:ArrayOfShoppingCart" />
  <xs:complexType name="ShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Prod_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Accounts" nillable="true" type="tns:ArrayOfBank_Account" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Managers" nillable="true" type="tns:ArrayOfManager" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purchases" nillable="true" type="tns:ArrayOfPurchase" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="ShoppingCarts" nillable="true" type="tns:ArrayOfShoppingCart" />
      <xs:element minOccurs="0" name="Stylists" nillable="true" type="tns:ArrayOfStylist" />
      <xs:element minOccurs="0" name="SuspendedUsers" nillable="true" type="tns:ArrayOfSuspendedUser" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfBank_Account">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bank_Account" nillable="true" type="tns:Bank_Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBank_Account" nillable="true" type="tns:ArrayOfBank_Account" />
  <xs:complexType name="Bank_Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credit_Card_Nr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Expiry_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank_Account" nillable="true" type="tns:Bank_Account" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACC_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bank_Account" nillable="true" type="tns:Bank_Account" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="P_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Purchase" nillable="true" type="tns:Purchase" />
      <xs:element minOccurs="0" name="T_Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cust_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="P_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Prod_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase" />
  <xs:complexType name="ArrayOfManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manager" nillable="true" type="tns:Manager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManager" nillable="true" type="tns:ArrayOfManager" />
  <xs:complexType name="Manager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manager" nillable="true" type="tns:Manager" />
  <xs:complexType name="ArrayOfPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchase" nillable="true" type="tns:Purchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchase" nillable="true" type="tns:ArrayOfPurchase" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:float" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfStylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stylist" nillable="true" type="tns:Stylist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStylist" nillable="true" type="tns:ArrayOfStylist" />
  <xs:complexType name="Stylist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalonAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalonPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalonStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuspendedStylists" nillable="true" type="tns:ArrayOfSuspendedStylist" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stylist" nillable="true" type="tns:Stylist" />
  <xs:complexType name="ArrayOfSuspendedStylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuspendedStylist" nillable="true" type="tns:SuspendedStylist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuspendedStylist" nillable="true" type="tns:ArrayOfSuspendedStylist" />
  <xs:complexType name="SuspendedStylist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stylist" nillable="true" type="tns:Stylist" />
      <xs:element minOccurs="0" name="Stylist_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuspendedStylist" nillable="true" type="tns:SuspendedStylist" />
  <xs:complexType name="ArrayOfSuspendedUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuspendedUser" nillable="true" type="tns:SuspendedUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuspendedUser" nillable="true" type="tns:ArrayOfSuspendedUser" />
  <xs:complexType name="SuspendedUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuspendedUser" nillable="true" type="tns:SuspendedUser" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="BookingClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hairstyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingClass" nillable="true" type="tns:BookingClass" />
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="confirmpass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="StylistClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="confirmpass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salonAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salonPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salonStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StylistClass" nillable="true" type="tns:StylistClass" />
  <xs:complexType name="ManagerClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagerClass" nillable="true" type="tns:ManagerClass" />
  <xs:complexType name="HairstyleClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="HairStyleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HairstyleClass" nillable="true" type="tns:HairstyleClass" />
  <xs:complexType name="Hairstyle">
    <xs:sequence>
      <xs:element minOccurs="0" name="HairstyleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hairstyle" nillable="true" type="tns:Hairstyle" />
  <xs:complexType name="ArrayOfHairstyle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hairstyle" nillable="true" type="tns:Hairstyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHairstyle" nillable="true" type="tns:ArrayOfHairstyle" />
  <xs:complexType name="AppointmentClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salonname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentClass" nillable="true" type="tns:AppointmentClass" />
</xs:schema>